body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
  justify-content: center;
  min-height: 100vh;
  background: white;
  line-height: 1.8em;
  width: 100vw;
}

.menu {
  text-transform: uppercase;
}
.menu-container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  padding: 1em;
  font-size: 1.5em;
  justify-content: center;
  margin-bottom: 0em;
  font-weight: 600;
}
a {
  color: rgb(0, 0, 0);
  text-decoration-style: none;
  text-decoration: none;
  border-radius: 0.2em;
  padding: 0.2em;
  margin: 0.4em;
}
.profile {
  display: flex;
  justify-content: center;
}
.main-container {
  width: 80vw;
  font-size: 0.9em;
  margin: 0 auto;
}
.main-container .menu-container > a:hover {
  background-color: rgb(161, 59, 102);
  color: white;
}

.about-text {
  padding: 2em;
  padding-top: 0;
  display: flex;
  font-size: 1.1em;
}

.profile-image {
  position: relative;
  margin-left: 2em;
}
.profile-image img {
  border-radius: 2em;
}

.header {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 4em;
}

.work-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.work-content h1 {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.links img {
  width: 23em;
  display: inline-block;
  position: relative;
  padding: 1.2em;
}
.links > p {
  position: relative;
  left: 2em;
  margin: 0;
  right: 2em;
}
.link-pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
  box-sizing: content-box;
  flex-wrap: wrap;
}

.works {
  position: relative;
  right: 5em;
}

.stories-header {
  text-align: center;
  position: relative;
  left: 1em;
  margin-top: 3em;
  text-transform: uppercase;
}

.btn {
  padding: 0.8em;
  height: 100px;
  width: 100px;
  position: relative;
  align-items: center;
  background-color: crimson;
}
.social-media img {
  width: 3em;
  margin: 0.8em;
  box-shadow: 5px 5px 10px rgba(41, 41, 41, 0.4);
  border-radius: 20px;
}

.social-media {
  width: 100%;
  text-align: center;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

.useful-links a {
  color: rgb(167, 60, 60);
}

.useful-links {
  position: relative;
  left: 33%;
  top: -60px;
  margin: 0;
}

.links-header {
  position: relative;
  left: 34%;
  top: -80px;
}

.cv-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.left-grid {
  width: 30vw;
  background: rgb(189, 116, 116);
  padding: 1em;
  margin: 0;
}

.right-grid {
  min-width: 70vw;
  background: white;
  padding: 1em;
}

.right .cv-header-sub {
  font-style: italic;
}
.cv-profile-pic {
  width: 15em;
}

.left-grid > h3 {
  position: relative;
  left: 15em;
  top: auto;
}
.cv-years {
  position: relative;
  left: 20em;
  top: auto;
}

a:hover {
  color: rgb(182, 74, 55);
}

.site-container {
  max-width: 40em;
  padding: 2em;
  margin: 0 auto;
}

.article-image img {
  max-width: 100%;
}

.site-container img {
  max-width: 100%;
}

.card-category {
  position: relative;
}

.article-card img {
  max-width: 100%;
}

.article-image {
  padding: 0;
  margin: 0;
}

.article3-image {
  max-width: 25em;
  align-self: auto;
}

.articles-header {
  display: block;
  text-align-last: center;
  margin-top: 1.8em;
  margin-bottom: 0;
}

.card-excerpt span {
  font-weight: bold;
}

/* For Mobile View*/

@media only screen and (max-width: 600px) {
  .menu-container {
    display: flex;
    position: relative;
    justify-content: center;
    left: 0;
  }
  .menu {
    position: relative;
    justify-content: center;
  }

  .header {
    display: flex;
    position: relative;
    left: 19%;
    text-transform: uppercase;
  }

  .about-text {
    padding: 2em;
    display: flex;
    font-size: 1.1em;
    padding-top: 0;
  }
  .social-media {
    width: 3em;
    position: 1500px;
    left: 300px;
    float: none;
  }

  .link-pages {
    display: block;
    width: 100vw;
    position: relative;
    left: 0;
    right: 5em;

    margin-bottom: 1em;
    box-sizing: content-box;
  }

  .works {
    display: flex;
    position: relative;
    justify-content: center;
  }

  body {
    font-size: 15px;
  }
  .useful-links {
    display: block;
    position: relative;
    left: 5em;
    top: 400px;
  }

  .links-header {
    display: block;
    position: relative;
    left: 5em;
    top: 400px;
  }

  .article-card {
    margin-right: 3em;
  }
  .cv-years {
    position: relative;
    left: 3em;
    top: auto;
  }
}
